@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.container {
  margin: 1rem;
  width: 250px;
  height: 450px;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  transform: translate(-3px, -3px);
  box-shadow: rgba(13, 190, 175, 0.8) 5px 5px 0px 0px;
}

.image img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.data {
  /* 텍스트가 남은 공간을 차지하도록 함 */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05rem; /* Adjust the value to change the letter spacing */
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
}

.average {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem; /* Adjust the value to change the letter spacing */
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
}

.stars {
}
