.h1 {
  color: white;
}

/* carousel */
.container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  overflow: hidden;
  min-width: 1000px;
  position: relative;
}

.swiper {
  width: 520px;
  height: 350px;
  overflow: visible;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* opacity 흐리게 하기 */
.opacityContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.swiperSlide img {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
  border-radius: 10px;
}

.swiperContent {
  width: 100%;
  height: 35%;
  overflow: hidden;
  position: absolute;
  text-align: left;
  padding: 1em;
  box-sizing: border-box;
  bottom: 0;
}

.swiperContent h2 {
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
}

.swiperContent p {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 400;
  margin-top: 1em;
}

.prev,
.next {
  padding: 1em;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s;
  user-select: none;
  z-index: 10;
}

.prev:hover,
.next:hover {
  opacity: 1;
}
