.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0dbeaf;
  box-shadow: 0 0 10px #0dbeaf;
  width: 900px;
  height: 600px;
  box-sizing: border-box;
  padding: 3rem;
  background-color: #090c0f;
}

.imageContainer {
  flex: 3;
}

.contentContainer {
  flex: 7;
  margin: 0 0 0 3rem;
  color: white;
}

.titleContainer {
  margin: 0 0 1.5rem 0;
}
.titleContainer h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

.releaseContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0.5rem 0;
}

.starContainer {
  width: 100px;
}

.overviewContainer {
  font-size: 14px;
  font-weight: 300;
}

.buttonContainer {
  margin: 1.5rem 0 0 0;
  gap: 20px;
  display: flex;
}
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #0dbeaf;
  border-radius: 5px;
  color: #0dbeaf;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: #0dbeaf;
  color: #090c0f;
}