.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  width: 900px;
  height: 675px;
}

.imageContainer {
  border: 1px solid #fff;
}

.contentContainer {
  border: 1px solid #fff;

}