.nav {
  display: flex;
  background-color: #161d24;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  height: 70px;
  color: var(--gray)
}

.nav.scrolled {
  background-color: #151515;
  height: 60px;
  padding: 10px;
}

