.title {
  color: white;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: normal;
  text-align: center;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  padding: 4px;
  margin-bottom: 20px;
}

.ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem 0.8rem;
}

.pagination {
  margin-top: 50px;
}